<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<form action="/formparameter" method="POST" style="display:flex; flex-direction: column">
    <input name="text" type="text" placeholder="text"/>
    <input type="number" name="number" id="number">
    <input type="date" name="date" id="date" class="date">
    <input type="checkbox" name="checkbox" id="checkbox" class="checkbox">
    <input type="radio" name="radio" id="radio" class="radio">
    <textarea name="textarea">Text area</textarea>
    <input type="submit" name="sub" content="Sub1" value="Sub1">
    <input type="submit" name="sub" content="Sub2" value="Sub2">
</form>
</body>
</html>