@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');

body, input, button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color: #A7A1AE;
    background: #1f2739 !important;
}

h1 {
    font-size: 3em;
    font-weight: 300;
    line-height: 1em;
    text-align: center;
    color: #4dc3fa;
}

h2 {
    font-size: 1em;
    font-weight: 300;
    line-height: 1em;
    display: block;
    padding-bottom: 2em;
    text-align: center;
    color: #fb667a;
}

h2 a {
    font-weight: 700;
    text-transform: uppercase;
    color: #fb667a;
    text-decoration: none;
}